body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    background-color:#FAFAD2;
    color:white
}

.title{
   position:fixed;
   width:150px;
   height:150px;
   border-radius:5px;
}
 .box{
    position:fixed;
    width:75%;
    max-width:75%;
    height:20%;
    max-height:20%;
    margin: 1% 1%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
}

.TitleData{
    position:absolute;
    left:200px;
    width:300px;
    max-width:300px;
    height:150px;
    max-height:150px;
    color:white;
    font-size:15px;
    line-height:15px;
    margin:20px;
}

.MainData{
    position:absolute;
    left:550px;
    width:500px;
    max-width:500px;
    height:150px;
    max-height:150px;
    color:white;
    font-size:15px;
    line-height:15px;
    margin:20px;
}

.CajaPedido{
   position:fixed;
   width:75%;
   max-width:75%;
   height:60%;
   max-height:60%;
   margin: 12% 1%;
   background:rgba(0,0,0,0.5);
   border-radius:3%;
   overflow-y: scroll;
}

.Cajitas{
    float:left;
    left:50px;
    background:rgba(0,0,0,0.5);
    width:300px;
    max-width:300px;
    height:350px;
    max-height:350px;
    color:white;
    font-size:15px;
    line-height:15px;
    border-radius:5px;
    margin:20px 35px;
}

.ImgOption{
    position:relative;
       width:170px;
       height:170px;
       border-radius:50%;
       margin: auto;
       display:block;
}

.carrito{
    position:fixed;
    width:20%;
    max=width:20%;
    height:50%;
    max-height:50%;
    margin: 1% 78%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
    border: 2px solid white;
    padding:10px 10px;
}
.zona
{
    position:fixed;
    width:20%;
    max=width:20%;
    height:50%;
    max-height:50%;
    bottom:50px;
}


.MiPedido{
    position:relative;
    background:rgba(0,0,0,0.5);
    width:285px;
    max-width:285px;
    height:250px;
    max-height:250px;
    color:white;
    font-size:15px;
    line-height:15px;
    border-radius:5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-borrar{
    float:right;
    background-color: #c61114;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 30px;
}
.Total{
   position:relative;
   left:10px;
   color:white;
}

.titulo{
   color:white;
}

h1, h2{
    text-align:center;
}

.price{
    position:relative;
    left:200px;
    padding:0 10px;
}

.spancito{
    position:relative;
    left:160px;
    relative:right;
    padding:0 10px;
}

.opciones{
    padding:10px;
}
.data{
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    padding:10px 10px;
}

.submit {
    background-color: #c61114;
    color: white;
    padding: 14px 20px;
    margin: 8px 10%;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Add a hover effect for buttons */
.submit:hover, .btn-borrar:hover {
    opacity: 0.8;
}

.Op{
    color:white;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 6%;
}

.btn-pagar{
    background-color: #c61114; /* Red */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.btn-pagar:hover{
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.MiPedido::-webkit-scrollbar-track, .CajaPedido::-webkit-scrollbar-track
{
	border: 1px solid black;
    background-color: #F5F5F5;
}

.MiPedido::-webkit-scrollbar, .CajaPedido::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;
}

.MiPedido::-webkit-scrollbar-thumb, .CajaPedido::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin:none;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbartitle{
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.button{
position:absolute;
top:620px;
left:1400px;
    background-color: #c61114; /* Red */
    margin:25px 20px;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5%;
}

.button:hover{
   opacity: 0.8;
}
