<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Datos de pedido</title>
    <link href="../static/css/datosPedido.css" th:href="@{/css/datosPedido.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="navbar">
    <a class="navbartitle">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}"></button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" th:if="${role.name} == 'ADMIN'">
                <a class="btn" href="/admin/empresas">Administrar</a>
                <a class="btn" href="/admin/listar">Ver Usuarios</a>
            </div>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="box-datos">
    <h2>Detalles del carrito</h2>
    <div class="datos">
        <div class="for" th:each="op: ${pedido.opcion_pedidos}">
            <form th:action="${'/borrar/'+op.Id}" method="post">
                <button class="btn-borrar" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </form>
            <div class="data"><label th:text="${op.option.name}">data</label></div>
            <form th:action="${'/modificar/'+op.Id}" method="post">
                <button class="btn-aceptar" type="submit">Modificar</button>
                <input class="entrada" type="text" name="cantidad" th:value="${op.cantidad}"/>
            </form>
            <div class="price"><label th:text="${op.option.price + 'Bs' }">Price</label></div>
        </div>
    </div>
    <div class="Total">
        <label class="titletotal">Total:</label>
        <label class="total" th:text="${pedido.precio + ' Bs'}">price</label>
    </div>
</div>

<div class="direccion">
    <h2>Detalles de la direccion</h2>
    <div class="form">
        <form th:action="@{/pagar}" method="post">
            <input class="cantidad" type="text" placeholder="Introduzca su direccion" name="direccion" th:value="${pedido.direccion}"/>
            <input type="hidden" name="Id_Pedido" th:value="${pedido.id}"/>
            <label>Numero Casa:</label>
            <input class="cantidad" type="text" name="numeroCasa" th:value="${pedido.numeroCasa}" />
            <label>Zip code:</label>
            <input class="cantidad" type="text"  name="zipCode" th:value="${pedido.zipCode}" />


            <div>
                <button class="submit" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pagar</button>
            </div>
        </form>
    </div>
</div>

<div class="retroseso">
    <a class="boton" href="/Lista_de_pedidos">Cambiar de empresa</a>
    <a class="boton" href="/pedido/continuar">Ver mas opciones</a>
    <a class="boton" href="javascript:history.back()">Atras</a>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>