<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:button="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html">
<head lang="en">

    <title>Pedidos</title>
    <link href="../static/css/pedidoView.css" th:href="@{/css/pedidoView.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="navbar">
    <a class="navbartitle">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}"></button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" th:if="${role.name} == 'ADMIN'">
                <a class="btn" href="/admin/empresas">Administrar</a>
                <a class="btn" href="/admin/listar">Ver Usuarios</a>
            </div>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="carrito">
    <h2 class="titulo">Mi carrito</h2>
    <div class="MiPedido">
        <div class="opciones" th:each="op: ${pedido.opcion_pedidos}">
            <form th:action="${'/borrar/'+op.Id}" method="post">
                <button class="btn-borrar" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <div class="data"><label th:text="${op.option.name+' (x'+op.cantidad+')'}"></label></div>
                <div class="price"><label th:text="${op.option.price + 'Bs' }"></label></div>
            </form>
        </div>
    </div>
    <div class="Total">Total: <span class="spancito" th:text="${pedido.precio + 'Bs'}"></span></div>
    <a class="btn-pagar" href="/continuar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Continuar</a>
</div>

<div class="box">
    <img class="title" th:src="${empresa.image}" />
    <div class="TitleData">
        <p th:text="${empresa.nombre}">Titulo</p>
        <p th:text="${empresa.descripcion}"></p>
    </div>
    <div class="MainData">
        <p th:text="${'Calificacion: ' + empresa.calificacion}"></p>
        <p th:text="${'Telefono: ' + empresa.telefono}"></p>
        <p th:text="${'Direccion del restaurante: ' + empresa.direccion}"></p>
    </div>
</div>
<div class="CajaPedido">
    <h2 class="titulo">Menu</h2>
    <div th:each="op : ${empresa.options}">

        <div class="Cajitas">
            <form th:object="${top}" th:action="@{/cargar}" method="post">
                <p class="Op" th:text="${op.name}">Hola</p>
                <img class="ImgOption" th:src="${op.image}" src="http://librosweb.es/img/css/f0509.gif"/>
                <p class="Op" th:text="${op.price + 'Bs'}">Bola</p>
                <input type="hidden" name="OptionId"  th:value="${op.id}"/>
                <input type="hidden" name="empresa"  th:value="${empresa.idEmpresa}"/>
                <input type="hidden" name="pedidoId"  th:value="${pedido.id}"/>

                <div>
                    <button class="submit" type="submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar</button>
                </div>


            </form>
        </div>

    </div>
</div>

<a class="button" href="/Lista_de_pedidos">Atras</a>


</body>
</html>